.custom-btn {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 0.859rem;
  line-height: 98.9%;
  color: black;
  padding: 6px 30px;
  background: #DCB772;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}