@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html{
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0C0C0C;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*,
*:after,
*:before {
  box-sizing: inherit;
}
ul,
li,
h1,
h2,
h3,
p,
button {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}

h1{
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.063rem;
  line-height: 98.9%;
  /* or 42px */
  color: #FFFFFF;
}
h2{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 2.063rem;
  line-height: 98.9%;
  /* or 36px */
  color: #FFFFFF;
}
h3{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 2.063rem;
  line-height: 98.9%;
  /* or 33px */
  text-align: center;
  color: #FFFFFF;
}
p{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 98.9%;
  /* or 16px */
  color: #FFFFFF;
}

@media only screen and (min-width: 768px) {
  h1{
    font-size: 2.625rem;
  }
  h2{
    font-size: 2.25rem;
  }

}